<h1>Content of Exercies</h1>
<h2>Bài 3</h2>
<app-my-component></app-my-component>
<hr/>
<h2>Bài 4</h2>
<app-binding-property-component></app-binding-property-component>
<hr/>
<h2>Bài 5</h2>
<app-binding-class-component></app-binding-class-component>
<hr/>
<h2>Bài 6</h2>
<app-bai-tap6></app-bai-tap6>
<hr/>
<h2>Bài 7</h2>
<app-bai-tap7></app-bai-tap7>
<hr>
<h2>Bài 8</h2>
<app-bai-tap8></app-bai-tap8>
<hr/>
<h2>Bài 9</h2>
<app-bai-tap9></app-bai-tap9>
<hr/>
<h2>Bài 10</h2>
<app-bai-tap10></app-bai-tap10>
<hr/>
<h2>Bài 11</h2>
<app-bai-tap11></app-bai-tap11>
<hr/>
<h2>Bài 12</h2>
<app-bai-tap12></app-bai-tap12>
<hr/>
<h2>Bài 13</h2>
<app-bai-tap13></app-bai-tap13>